---
import Layout from "../layouts/Layout.astro";


---

<Layout title="About SpaceX">
    <section class="flex-col justify-centers items-center">
        <header class="justify-centers items-center text-center bg-slate-800 py-3 mx-20 lg:mx-96 rounded-xl">
            <h2 class="text-slate-200">What is this project about?</h2>
        </header>
        <article class="my-6 mx-12 lg:mx-20">
            <p>I made this for practice. To remember how to use some tools and to learn about Astro.</p>
        </article>
        <footer></footer>
    </section>
</Layout>