---
import Layout from "../layouts/Layout.astro";


---

<Layout title="About SpaceX">
    <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio quo dolores aspernatur rerum ratione corporis voluptate fuga error? Qui vitae nesciunt asperiores nam? Eligendi ut, rerum sed qui ipsam quos!</p>
</Layout>